// how to edit the breakpoints -> copy the $breakpoints SASS map (remove the !default flag) and import it before the 'base' and 'custom-style' files -> check the _style.scss file
// https://codyhouse.co/ds/docs/framework/breakpoints#edit

$breakpoints: (
  xs: 32rem, // ~512px
  sm: 48rem, // ~768px
  md: 64rem, // ~1024px
  lg: 80rem, // ~1280px
  xl: 90rem  // ~1440px
) !default;

@mixin breakpoint($breakpoint, $logic: false) {
  @if( $logic ) {
    @media #{$logic} and (min-width: map-get($map: $breakpoints, $key: $breakpoint)) { @content; }
  } @else {
    @media (min-width: map-get($map: $breakpoints, $key: $breakpoint)) { @content; }
  }
}

/* My breakpoints and function*/

$myBreakpoints: (
    w1375: 1375px,
    lg: 1024px,
    xl: 1240px,
    smm: 620px,
    sm: 768px,
    smx: 340px,
    xs: 340px,
    i5s: 350px,
    xss: 390px,
    w461: 461px,
    w420: 420px,
    l1440: 1440px,
    md: 989px,
    xs414: 414px,
);

@mixin max-breakpoint($breakpoint) {
    @media screen and (max-width: map-get($myBreakpoints, $breakpoint)) {
        @content;
    }
}
