// Fonts
//  @import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
// @import "variables";

// Bootstrap
//  @import '~bootstrap/scss/bootstrap';

.markdownEditor {
    &__editor {
        width: 100%;
    }

    &__save {
        position: absolute;
        right: 8px;
        margin: 8px;
    }
}