/* My breakpoints and function*/
$myBreakpoints: (
    w1920: 1920px,
    w1440: 1440px,
    w1280: 1280px,
    w1024: 1024px,
    md: 989px,
    sm: 768px,
    w540: 540px,
    w420: 420px,
    w360: 360px,
    w340: 340px,
    w320: 320px,
    w280: 280px,

    lg: 1024px,
    smm: 620px,
    xs414: 414px,
    xss: 390px,
    i5s: 350px,
);

@mixin max-breakpoint($breakpoint) {
    @media screen and (max-width: map-get($myBreakpoints, $breakpoint)) {
        @content;
    }
}

@mixin c-breakpoint($breakpoint) {
    @media screen and (min-width: map-get($myBreakpoints, $breakpoint)) {
        @content;
    }
}
