.comments__details{
    margin-top: -30px;
    margin-bottom: 30px;
}

.popover--is-visible{
    background-color: var(--color-contrast-lower);
}

.reply-box{
    display: flex;
    justify-content: center;
}

.reply-form{
    flex: 0.9;
    margin-bottom: 40px;
}

.post-comments > .reply-box{
    margin-top: -20px;
}
